footer.relative.bg-green.white
  .flex.justify-center.p-t-2.p-r-1.p-b-2.p-l-1.p-t-4-ns.p-b-4-ns
    .w-40-max
      p.p-b-05.p-b-2-5-ns.montefiore-condensed-bold.font-size-2-25.font-size-4-ns.font-size-5-l.center Be amongst the first to hear when we launch the UK’s only social network for Grassroots football
      
      form(action="https://spottersapp.us15.list-manage.com/subscribe/post" data-signup="form" method="POST")
        input(type="hidden" name="u" value="56175f2adf68ffe66e602a050")
        input(type="hidden" name="id" value="3fe7f529bd")
        
        label.flex.flex-column
          input.order-1.w-whole.p-1.font-size-1-5-ns.rounded-4px.bg-white.black.ph-green.border-0.transition-200ms(
            autocapitalize="off"
            autocomplete="email"
            name="MERGE0"
            placeholder="Your E-mail address"
            required
            type="email")
          span.order-0.opacity-0-placeholder-shown.transition-200ms Your E-mail address
          
        label.flex.flex-column
          input.order-1.w-whole.p-1.font-size-1-5-ns.rounded-4px.bg-white.black.ph-green.border-0.transition-200ms(
            autocomplete="given-name" 
            name="MERGE1"
            placeholder="First Name"
            required
            type="text")
          span.order-0.opacity-0-placeholder-shown.transition-200ms First Name
          
        label.flex.flex-column
          input.order-1.w-whole.m-b-1-5.p-1.font-size-1-5-ns.rounded-4px.bg-white.black.ph-green.border-0.transition-200ms(
            autocomplete="family-name"
            name="MERGE2"
            placeholder="Surname"
            required
            type="text")
          span.order-0.opacity-0-placeholder-shown.transition-200ms Surname
          
        button.pointer.w-whole.font-size-1-5-ns.rounded-4px.active-bg-white.active-black.bg-black.white.transition-200ms(data-signup="button")
          span.pointer-events-none.flex.justify-center.items-center.h-3.h-4-ns.p-r-05.p-l-05.p-r-1-ns.p-l-1-ns Notify Me

  .flex-ns.justify-end-ns.items-center-ns.p-1.p-2-ns.border-white-03.border-t-1px
    p.p-b-1.p-0-ns.font-size-1-5.center 
      span.white-05 ©2017 
      span.montefiore-condensed-bold Spotters
    //- .flex.justify-center.items-center
    //-   a.p-r-2(href="https://instagram.com/Spotters_UK" rel="nofollow")
    //-     img.bottom(alt="Visit us on Instagram" height="32" src="img/instagram-white.svg" width="32")
    //-   a.p-r-2(href="https://facebook.com/spottersfootball" rel="nofollow")
    //-     img.bottom(alt="Visit our Facebook page" height="32" src="img/facebook-white.svg" width="32")
    //-   a(href="https://www.twitter.com/Spotters_UK" rel="nofollow")
    //-     img.bottom(alt="Visit us on Twitter" height="32" src="img/twitter-white.svg" width="32")
