footer#signup.relative.bg-green.white
  .p-t-2.p-r-1.p-b-2.p-l-1.p-5-ns
    h2.p-b-2.p-b-5-ns.monte-bold.font-size-2.font-size-4-ns.font-size-5-l.center Be amongst the first to<br>hear when we launch the<br>UK's only social network<br>for Grassroots football

    .flex.justify-center.font-size-1-5-ns
      form.w-40-max
        input.w-whole.m-b-1.p-1.rounded-4px.bg-white.black.ph-green.border-0.transition-200ms(autocomplete="email" class="ph-#{ color } border-#{ color }" type="email" placeholder="Your E-mail address" required)

        input.w-whole.m-b-1.p-1.rounded-4px.bg-white.black.ph-green.border-0.transition-200ms(autocomplete="given-name" class="ph-#{ color } border-#{ color }" type="text" placeholder="First Name" required)

        input.w-whole.m-b-1.p-1.rounded-4px.bg-white.black.ph-green.border-0.transition-200ms(autocomplete="family-name" class="ph-#{ color } border-#{ color }" type="text" placeholder="Surname" required)

        label.pointer.flex.items-center.p-b-2
          input.no-d(type="checkbox")
          .flex-none.flex.justify-center.items-center.w-4.h-4.rounded.bg-white
            img.hidden.opacity-0.checked-visible.checked-opacity-1.transition-200ms(height="64" src="img/ic_check_circle_black_24px.svg" width="64")
          p.flex-auto.p-l-1
            span I am a  
            span.p-b-2px.border-white-05.border-b-2px.border-b-4px-ns player over the age of 13
            span  or  
            span.p-b-2px.border-white-05.border-b-2px.border-b-4px-ns a parent of a player under the age of 13

        button.pointer.w-whole.rounded-4px.active-bg-white.active-black.bg-black.white.transition-200ms(data-signup="button")
          span.pointer-events-none.flex.justify-center.items-center.h-3.h-4-ns.p-r-05.p-l-05.p-r-1-ns.p-l-1-ns Sign Up

  .flex-ns.justify-between-ns.items-center-ns.p-1.p-2-ns.border-white-03.border-t-1px
    p.p-t-05.p-b-1.p-0-ns.monte-bold.font-size-1-5.center Copyright ©2017 Spotters
    .flex.justify-center.items-center
      a.p-r-2(href="#")
        img.bottom(height="32" src="img/twitter-white.svg" width="32")
      a.p-r-2(href="#")
        img.bottom(height="32" src="img/facebook-white.svg" width="32")
      a(href="#")
        img.bottom(height="32" src="img/linked-in-white.svg" width="32")
