header.relative.aspect-ratio--21x9.aspect-ratio--1x1-s.aspect-ratio--4x3-m.aspect-ratio--16x9-l.bg-black.bg-cover(style="background-image: url(data:image/gif;base64,R0lGODlhAwADAPMAAFtUPF1rOWNxPWNZSWRzQXlqUH2Ec46KbYiVgwAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAAAAAAALAAAAAADAAMAAAQHsAyAjiEiRAA7)")
  picture.absolute.top-0.left-0.bottom-0.w-whole.h-whole
    // S
    source(
      media="(max-width: 767px)" 
      sizes="(max-width: 1356px) 100vw, 1356px" 
      srcset="https://res.cloudinary.com/afferently/image/upload/ar_1:1%2Cc_fill%2C#{ gravity }/c_scale%2Cw_200%2Cq_auto%2Cf_auto/#{ img } 200w, https://res.cloudinary.com/afferently/image/upload/ar_1:1%2Cc_fill%2C#{ gravity }/c_scale%2Cw_913%2Cq_auto%2Cf_auto/#{ img } 913w, https://res.cloudinary.com/afferently/image/upload/ar_1:1%2Cc_fill%2C#{ gravity }/c_scale/#{ img } 1356w")
    
    // M
    source(
      media="(min-width: 768px) and (max-width: 991px)" 
      sizes="(max-width: 1983px) 70vw, 1388px" 
      srcset="https://res.cloudinary.com/afferently/image/upload/ar_4:3%2Cc_fill%2C#{ gravity }/c_scale%2Cw_538%2Cq_auto%2Cf_auto/#{ img } 538w,https://res.cloudinary.com/afferently/image/upload/ar_4:3%2Cc_fill%2C#{ gravity }/c_scale%2Cw_1022%2Cq_auto%2Cf_auto/#{ img } 1022w,https://res.cloudinary.com/afferently/image/upload/ar_4:3%2Cc_fill%2C#{ gravity }/c_scale%2Cw_1388%2Cq_auto%2Cf_auto/#{ img } 1388w")
    
    // L
    source(
      media="(min-width: 992px) and (max-width: 1199px)" 
      sizes="(max-width: 2400px) 60vw, 1440px" 
      srcset="https://res.cloudinary.com/afferently/image/upload/ar_16:9%2Cc_fill%2C#{ gravity }/c_scale%2Cw_596%2Cq_auto%2Cf_auto/#{ img } 596w,https://res.cloudinary.com/afferently/image/upload/ar_16:9%2Cc_fill%2C#{ gravity }/c_scale%2Cw_1074%2Cq_auto%2Cf_auto/#{ img } 1074w,https://res.cloudinary.com/afferently/image/upload/ar_16:9%2Cc_fill%2C#{ gravity }/c_scale%2Cw_1440%2Cq_auto%2Cf_auto/#{ img } 1440w")
    
    // Default
    img.w-whole.bottom(
      sizes="(max-width: 5120px) 40vw, 2048px" 
      srcset="https://res.cloudinary.com/afferently/image/upload/ar_21:9%2Cc_fill%2C#{ gravity }/c_scale%2Cw_480%2Cq_auto%2Cf_auto/#{ img } 480w,https://res.cloudinary.com/afferently/image/upload/ar_21:9%2Cc_fill%2C#{ gravity }/c_scale%2Cw_1412%2Cq_auto%2Cf_auto/#{ img } 1412w,https://res.cloudinary.com/afferently/image/upload/ar_21:9%2Cc_fill%2C#{ gravity }/c_scale%2Cw_2048%2Cq_auto%2Cf_auto/#{ img } 2048w" src="https://res.cloudinary.com/afferently/image/upload/ar_21:9%2Cc_fill%2C#{ gravity }/c_scale%2Cw_2048%2Cq_auto%2Cf_auto/#{ img }" 
      alt="")
      
  .absolute.top-0.left-0.flex.flex-column.w-whole.h-whole.bg-black-scrim.white.border-green.border-r-05.border-l-05.border-r-1-ns.border-l-1-ns
    h1.self-center.flex-auto.flex.items-center.font-size-2.font-size-3-ns.font-size-3-5-l.center Connect with the<br>Grassroots Football<br>Community

.flex-ns.justify-center-ns.bg-black.white
  .flex-ns.flex-wrap-ns.w-100-max
    // Players.
    .order-1-ns.w-third-ns.border-white-03.border-b-1px.border-0-ns.border-r-1px-ns
      .w-40-max.p-1.p-4-l
        h2.font-size-1-5.font-size-2-25-l For<br>Players
        img.w-5-ns.h-5-ns(height="64" src="img/players.svg" width="64")
        p.hyphens.no-hyphens-l.font-size-1-25-l Track & share your footballing achievements, gain recognition for completing challenges, improve your game and showcase your talent to your followers and pro academies.
    
    // Supporters & Coaches.
    .order-0-ns.w-third-ns.border-white-03.border-b-1px.border-0-ns.border-r-1px-ns
      .w-40-max.p-1.p-4-l
        h2.font-size-1-5.font-size-2-25-l For Supporters<br>& Coaches
        img.w-5-ns.h-5-ns(height="64" src="img/supporters.svg" width="64")
        p.hyphens.no-hyphens-l.font-size-1-25-l Help your players to develop and enjoy the game even more, congratulate players by giving awards, shape English football by recommending gifted players to pro academies.
        
    // Clubs.
    .order-2-ns.w-third-ns
      .w-40-max.p-1.p-4-l
        h2.font-size-1-5.font-size-2-25-l For<br>Clubs
        img.w-5-ns.h-5-ns(height="64" src="img/clubs.svg" width="64")
        p.hyphens.no-hyphens-l.font-size-1-25-l Promote your club's initiatives and achievements, attract new players and sponsors by building an online following.
